<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Fornecedor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/TelasCadastro/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/TelasCadastro/Style.css">
    <style type="text/css">
    </style>
    <script src="~/Content/TelasCadastro/jquery-1.11.1.min.js"></script>
    <script src="~/Content/TelasCadastro/bootstrap.min.js"></script>
</head>

<body>
    <form action="/Cliente/AdicionaCliente" method="post">
        <div class="form-horizontal">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 id="titlePrincipal">Cadastro de Cliente</h1>
                </div>

                <div class="panel-body">
                    <div class="form-group">

                        <div class="col-md-11 control-label">
                            <p class="help-block">
                                <h11>*</h11> Campo Obrigatório
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <h3>Dados do cliente:</h3>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Nome">Nome Completo <h11>*</h11></label>
                        <div class="col-md-5">
                            <input id="nome" name="cliente.pessoa.Nome" value="@ViewBag.Cliente.Pessoa.Nome" placeholder="Nome do Cliente" class="form-control input-md" required="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Nome">Nascimento<h11>*</h11></label>
                        <div class="col-md-2">
                            <input id="dtnasc" name="cliente.pessoa.Data" value="@ViewBag.Cliente.Pessoa.Data" placeholder="DD/MM/AAAA" class="form-control input-md" required="" type="date" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
                        </div>

                        <!-- Multiple Radios (inline) -->

                        <label class="col-md-1 control-label" for="radios">Gênero <h11>*</h11></label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="radios-1">
                                <input name="cliente.pessoa.Genero" id="sexo" value="M" type="radio">
                                Masculino
                            </label>
                            <label required="" class="radio-inline" for="radios-0">
                                <input name="cliente.pessoa.Genero" id="sexo" value="F" type="radio" required>
                                Feminino
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Nome">RG <h11>*</h11></label>
                        <div class="col-md-2">
                            <input id="rg" name="cliente.pessoa.Rg" value="@ViewBag.Cliente.Pessoa.Rg" placeholder="Apenas números" class="form-control input-md" required="" type="text" maxlength="11" pattern="[0-9]+$">
                        </div>
                        <label class="col-md-1 control-label" for="Nome">CPF <h11>*</h11></label>
                        <div class="col-md-2">
                            <input id="cpf" name="cliente.pessoa.CpfeCnpj" value="@ViewBag.Cliente.Pessoa.CpfeCnpj" placeholder="Apenas números" class="form-control input-md" required="" type="text" maxlength="15" pattern="[0-9]+$">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="prependedtext">Email <h11>*</h11></label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input id="email" name="cliente.pessoa.Email" value="@ViewBag.Cliente.Pessoa.Email" class="form-control" placeholder="cliente@email.com" required="" type="email">
                            </div>
                        </div>
                    </div>

                    <!-- Prepended text-->
                    <div class="form-group">

                        <label class="col-md-2 control-label" for="prependedtext">Telefone 1 <h11>*</h11></label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input id="prependedtext" name="cliente.pessoa.TelefoneUm" value="@ViewBag.Cliente.Pessoa.TelefoneUm" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)">
                            </div>
                        </div>

                        <label class="col-md-1 control-label" for="prependedtext">Telefone 2 <h11></h11></label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input id="prependedtext" name="cliente.pessoa.TelefoneDois" value="@ViewBag.Cliente.Pessoa.TelefoneDois" class="form-control" placeholder="XX XXXXX-XXXX" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)">
                            </div>
                        </div>


                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <h3>Dados de endereço:</h3>
                        </div>
                    </div>

                    <!-- Search input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="CEP">CEP <h11>*</h11></label>
                        <div class="col-md-2">
                            <input id="cep" name="cliente.pessoa.endereco.Cep" value="@ViewBag.Cliente.Pessoa.Endereco.Cep" placeholder="Apenas números" class="form-control input-md" required="" type="search" maxlength="8" pattern="[0-9]+$">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" onclick="pesquisacep(cep.value)">Pesquisar</button>
                        </div>
                    </div>

                    <!-- Endereço       //readonly="readonly"-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="prependedtext">Endereço</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Rua</span>
                                <input id="rua" name="cliente.pessoa.endereco.Rua" value="@ViewBag.Cliente.Pessoa.Endereco.Rua" class="form-control" placeholder="" required="" type="text">
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">Nº <h11>*</h11></span>
                                <input id="numero" name="cliente.pessoa.endereco.Numero" value="@ViewBag.Cliente.Pessoa.Endereco.Numero" class="form-control" placeholder="" required="" type="text">
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">Bairro</span>
                                <input id="bairro" name="cliente.pessoa.endereco.Bairro" value="@ViewBag.Cliente.Pessoa.Endereco.Bairro" class="form-control" placeholder="" required="" type="text">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="prependedtext"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Cidade</span>
                                <input id="cidade" name="cliente.pessoa.endereco.Cidade" value="@ViewBag.Cliente.Pessoa.Endereco.Cidade" class="form-control" placeholder="" required="" type="text">
                            </div>

                        </div>

                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">Estado</span>
                                <input id="estado" name="cliente.pessoa.endereco.Estado" value="@ViewBag.Cliente.Pessoa.Endereco.Estado" class="form-control" placeholder="" required="" type="text">
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">Complemento</span>
                                <input id="complemento" name="cliente.pessoa.endereco.Complemento" value="@ViewBag.Cliente.Pessoa.Endereco.Complemento" class="form-control" placeholder="" type="text">
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-md-8">
                            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modalCadastroVeiculo">Cadastrar Veículo</button>
                        </div>
                    </div>
                    <!-- Iniciando modal de cadastro de Veículo-->
                    <div class="modal fade" id="modalCadastroVeiculo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title text-center" id="myModalLabel">Cadastrar Veículo</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="/Cliente/AdicionaVeiculo" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="Nome">Fabricante:</label>
                                            <div class="col-md-5">
                                                <select id="nome" name="cliente.pessoa.veiculo.Marca" class="form-control input-md" required="">
                                                    <option value="AGRALE">AGRALE</option>
                                                    <option value="ALFA ROMEO">ALFA ROMEO</option>
                                                    <option value="AMERICAR">AMERICAR</option>
                                                    <option value="ASIA">ASIA</option>
                                                    <option value="ASTON MARTIN">ASTON MARTIN</option>
                                                    <option value="AUDI">AUDI</option>
                                                    <option value="BEACH">BEACH</option>
                                                    <option value="BENTLEY">BENTLEY</option>
                                                    <option value="BIANCO">BIANCO</option>
                                                    <option value="BMW">BMW</option>
                                                    <option value="BRM">BRM</option>
                                                    <option value="BUGRE">BUGRE</option>
                                                    <option value="BUGWAY">BUGWAY</option>
                                                    <option value="BUICK">BUICK</option>
                                                    <option value="CADILLAC">CADILLAC</option>
                                                    <option value="CBT">CBT</option>
                                                    <option value="CHAMONIX">CHAMONIX</option>
                                                    <option value="CHANA">CHANA</option>
                                                    <option value="CHERY">CHERY</option>
                                                    <option value="CHEVROLET">CHEVROLET</option>
                                                    <option value="CHRYSLER">CHRYSLER</option>
                                                    <option value="CITROËN">CITROËN</option>
                                                    <option value="DACON">DACON</option>
                                                    <option value="DAEWOO">DAEWOO</option>
                                                    <option value="DAIHATSU">DAIHATSU</option>
                                                    <option value="DATSUN">DATSUN</option>
                                                    <option value="DE SOTO">DE SOTO</option>
                                                    <option value="DKW-VEMAG">DKW-VEMAG</option>
                                                    <option value="DODGE">DODGE</option>
                                                    <option value="EFFA">EFFA</option>
                                                    <option value="EMIS">EMIS</option>
                                                    <option value="ENGESA">ENGESA</option>
                                                    <option value="ENVEMO">ENVEMO</option>
                                                    <option value="FERCAR BUGGY">FERCAR BUGGY</option>
                                                    <option value="FERRARI">FERRARI</option>
                                                    <option value="FIAT">FIAT</option>
                                                    <option value="FIBRAVAN">FIBRAVAN</option>
                                                    <option value="FORD">FORD</option>
                                                    <option value="FOTON">FOTON</option>
                                                    <option value="FYBER">FYBER</option>
                                                    <option value="GEELY">GEELY</option>
                                                    <option value="GLASPAC">GLASPAC</option>
                                                    <option value="GMC">GMC</option>
                                                    <option value="GURGEL">GURGEL</option>
                                                    <option value="HAFEI">HAFEI</option>
                                                    <option value="HONDA">HONDA</option>
                                                    <option value="HUMMER">HUMMER</option>
                                                    <option value="HYUNDAI">HYUNDAI</option>
                                                    <option value="INFINITI">INFINITI</option>
                                                    <option value="INTERNATIONAL">INTERNATIONAL</option>
                                                    <option value="IVECO">IVECO</option>
                                                    <option value="JAC">JAC</option>
                                                    <option value="JAGUAR">JAGUAR</option>
                                                    <option value="JEEP">JEEP</option>
                                                    <option value="JINBEI">JINBEI</option>
                                                    <option value="JPX">JPX</option>
                                                    <option value="KIA">KIA</option>
                                                    <option value="L AUTOMOBILE">L AUTOMOBILE</option>
                                                    <option value="LADA">LADA</option>
                                                    <option value="LAMBORGHINI">LAMBORGHINI</option>
                                                    <option value="LAND ROVER">LAND ROVER</option>
                                                    <option value="LANDWIND">LANDWIND</option>
                                                    <option value="LEXUS">LEXUS</option>
                                                    <option value="LIFAN">LIFAN</option>
                                                    <option value="LINCOLN">LINCOLN</option>
                                                    <option value="LOBINI">LOBINI</option>
                                                    <option value="LOTUS">LOTUS</option>
                                                    <option value="MAHINDRA">MAHINDRA</option>
                                                    <option value="MARCOPOLO">MARCOPOLO</option>
                                                    <option value="MASERATI">MASERATI</option>
                                                    <option value="MAZDA">MAZDA</option>
                                                    <option value="MCLAREN">MCLAREN</option>
                                                    <option value="MENON">MENON</option>
                                                    <option value="MERCEDES-BENZ">MERCEDES-BENZ</option>
                                                    <option value="MERCURY">MERCURY</option>
                                                    <option value="MG">MG</option>
                                                    <option value="MINI">MINI</option>
                                                    <option value="MITSUBISHI">MITSUBISHI</option>
                                                    <option value="MIURA">MIURA</option>
                                                    <option value="MOBBY">MOBBY</option>
                                                    <option value="MORRIS">MORRIS</option>
                                                    <option value="MP LAFER">MP LAFER</option>
                                                    <option value="NASH">NASH</option>
                                                    <option value="NISSAN">NISSAN</option>
                                                    <option value="OLDSMOBILE">OLDSMOBILE</option>
                                                    <option value="OPEL">OPEL</option>
                                                    <option value="PAG">PAG</option>
                                                    <option value="PEUGEOT">PEUGEOT</option>
                                                    <option value="PLYMOUTH">PLYMOUTH</option>
                                                    <option value="PONTIAC">PONTIAC</option>
                                                    <option value="PORSCHE">PORSCHE</option>
                                                    <option value="PUMA">PUMA</option>
                                                    <option value="RDK">RDK</option>
                                                    <option value="RELY">RELY</option>
                                                    <option value="RENAULT">RENAULT</option>
                                                    <option value="ROLLS-ROYCE">ROLLS-ROYCE</option>
                                                    <option value="SANTA MATILDE">SANTA MATILDE</option>
                                                    <option value="SATURN">SATURN</option>
                                                    <option value="SEAT">SEAT</option>
                                                    <option value="SELVAGEM">SELVAGEM</option>
                                                    <option value="SHELBY">SHINERAY</option>
                                                    <option value="SHUANGHUAN">SHUANGHUAN</option>
                                                    <option value="SIMCA">SIMCA</option>
                                                    <option value="SMART">SMART</option>
                                                    <option value="SSANGYONG">SSANGYONG</option>
                                                    <option value="SUBARU">SUBARU</option>
                                                    <option value="SUZUKI">SUZUKI</option>
                                                    <option value="TAC">TAC</option>
                                                    <option value="TESLA">TESLA</option>
                                                    <option value="TOYOTA">TOYOTA</option>
                                                    <option value="TROLLER">TROLLER</option>
                                                    <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                                                    <option value="VOLVO">VOLVO</option>
                                                    <option value="WAKE">WAKE</option>
                                                    <option value="WAY BRASIL">WAY BRASIL</option>
                                                    <option value="WILLYS">WILLYS</option>
                                                    <option value="WILLYS OVERLAND">WILLYS OVERLAND</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="Nome">Modelo:</label>
                                            <div class="col-md-5">
                                                <input id="nome" name="" class="form-control input-md" required="" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="Nome">Ano:</label>
                                            <div class="col-md-5">
                                                <input id="nome" name="" class="form-control input-md" required="" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="Nome">Cor:</label>
                                            <div class="col-md-5">
                                                <input id="nome" name="" class="form-control input-md" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="Nome">Placa:</label>
                                            <div class="col-md-5">
                                                <input id="nome" name="" placeholder="ABC1234" class="form-control input-md" required="" type="text">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Cadastrar</button>
                                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <!-- Botão Cadastrar e Cancelar -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Cadastrar"></label>
                        <div class="col-md-8">
                            <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
                            <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>

</body>
</html>



<script type="text/javascript">
    function limpa_formulario_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('rua').value = ("");
        document.getElementById('bairro').value = ("");
        document.getElementById('cidade').value = ("");
        document.getElementById('estado').value = ("");

    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('rua').value = (conteudo.logradouro);
            document.getElementById('bairro').value = (conteudo.bairro);
            document.getElementById('cidade').value = (conteudo.localidade);
            document.getElementById('estado').value = (conteudo.uf);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulario_cep();
            alert("CEP não encontrado.");
            document.getElementById('cep').value = ("");
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep !== "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if (validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('rua').value = "...";
                document.getElementById('bairro').value = "...";
                document.getElementById('cidade').value = "...";
                document.getElementById('estado').value = "...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = '//viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulario_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulario_cep();
        }
    }

    function formatar(mascara, documento) {
        var i = documento.value.length;
        var saida = mascara.substring(0, 1);
        var texto = mascara.substring(i);

        if (texto.substring(0, 1) != saida) {
            documento.value += texto.substring(0, 1);
        }

    }

    function idade() {
        var data = document.getElementById("dtnasc").value;
        var dia = data.substr(0, 2);
        var mes = data.substr(3, 2);
        var ano = data.substr(6, 4);
        var d = new Date();
        var ano_atual = d.getFullYear(),
            mes_atual = d.getMonth() + 1,
            dia_atual = d.getDate();

        ano = +ano,
            mes = +mes,
            dia = +dia;

        var idade = ano_atual - ano;

        if (mes_atual < mes || mes_atual == mes_aniversario && dia_atual < dia) {
            idade--;
        }
        return idade;
    }


    function exibe(i) {



        document.getElementById(i).readOnly = true;




    }

    function desabilita(i) {

        document.getElementById(i).disabled = true;
    }

    function habilita(i) {
        document.getElementById(i).disabled = false;
    }


    function showhide() {
        var div = document.getElementById("newpost");

        if (idade() >= 18) {

            div.style.display = "none";
        } else if (idade() < 18) {
            d
</script>
