<div class="main-content">
	<div class="content-heading clearfix">
		<div class="heading-left">
			<h1 class="page-title">Formulário</h1>
			<p class="page-subtitle">Editar cliente</p>
		</div>
		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
			<li><a href="#">Formulário</a></li>
			<li><a href="#">Editar cliente</a></li>
		</ul>
	</div>


	<form action="/Cliente/UpdateCliente" id="FormCadastro" method="post">
		<div class="form-horizontal">
			<div class="panel-body" id="formCadastro">
				<div class="form-group">

					<div class="col-md-11 control-label">
						<p class="help-block">
							<h11>*</h11> Campo Obrigatório
						</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2 control-label">
						<h3>Dados do cliente:</h3>
					</div>
				</div>

				<input id="nomeproduto" readonly name="cliente.Id" value="@ViewBag.Cliente.Id" placeholder="Nome do produto" class="form-control input-md" type="hidden">
				<input id="nomeproduto" readonly name="cliente.PessoaId" value="@ViewBag.Cliente.PessoaId" placeholder="Nome do produto" class="form-control input-md" type="hidden">

				<div class="form-group">
					<label class="col-md-2 control-label" for="nomeproduto">Pontos <h11></h11></label>
					<div class="col-md-3">
						<input id="nomeproduto" readonly name="cliente.Pontos" value="@ViewBag.Cliente.Pontos" placeholder="Nome do produto" class="form-control input-md" type="text">
					</div>
				</div>
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-2 control-label" for="NomeCompleto">Nome Completo <h11>*</h11></label>
					<div class="col-md-5">
						<input id="NomeCompleto" name="cliente.pessoa.Nome" value="@ViewBag.Cliente.Pessoa.Nome" placeholder="Nome do Cliente" class="form-control input-md" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="Nascimento">Nascimento<h11>*</h11></label>
					<div class="col-md-2">
						<input id="Nascimento" name="cliente.pessoa.Data" value="@ViewBag.Cliente.Pessoa.Data" class="form-control input-md" type="text" maxlength="10">
					</div>

					<!-- Multiple Radios (inline) -->

					<label class="col-md-1 control-label" id="Genero" for="Genero">Gênero <h11>*</h11></label>
					<div class="col-md-4">
						<label class="radio-inline" for="radios-1">
							<input name="cliente.pessoa.Genero" id="sexo" value="M" type="radio">
							Masculino
						</label>
						<label class="radio-inline" for="radios-0">
							<input name="cliente.pessoa.Genero" id="sexo" value="F" type="radio">
							Feminino
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="Rg">RG <h11>*</h11></label>
					<div class="col-md-2">
						<input id="Rg" name="cliente.pessoa.Rg" value="@ViewBag.Cliente.Pessoa.Rg" placeholder="Apenas números" class="form-control input-md" type="text" maxlength="11" pattern="[0-9]+$">
					</div>
					<label class="col-md-1 control-label" for="Nome">CPF <h11>*</h11></label>
					<div class="col-md-2">
						<input id="CpfeCnpj" name="cliente.pessoa.CpfeCnpj" value="@ViewBag.Cliente.Pessoa.CpfeCnpj" placeholder="Apenas números" onkeyup="confereCPF(this)" class="form-control input-md" type="text" maxlength="15" pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})$">
						<span id="cpfFrase"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="prependedtext">Email <h11>*</h11></label>
					<div class="col-md-5">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input id="email" name="cliente.pessoa.Email" value="@ViewBag.Cliente.Pessoa.Email" class="form-control" placeholder="cliente@email.com" type="email">
						</div>
					</div>
				</div>

				<!-- Prepended text-->
				<div class="form-group">

					<label class="col-md-2 control-label" for="prependedtext">Telefone 1 <h11>*</h11></label>
					<div class="col-md-2">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
							<input id="telefoneUm" name="cliente.pessoa.TelefoneUm" value="@ViewBag.Cliente.Pessoa.TelefoneUm" class="form-control" placeholder="(XX) XXXXX-XXXX" type="text" maxlength="14" pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}+$">
						</div>
					</div>

					<label class="col-md-1 control-label" for="prependedtext">Telefone 2 <h11></h11></label>
					<div class="col-md-2">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
							<input id="telefoneDois" name="cliente.pessoa.TelefoneDois" value="@ViewBag.Cliente.Pessoa.TelefoneDois" class="form-control" placeholder="(XX) XXXXX-XXXX" type="text" maxlength="14" pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}+$">
						</div>
					</div>


				</div>
				<hr>
				<div class="form-group">
					<div class="col-md-2 control-label">
						<h3>Dados de endereço:</h3>
					</div>
				</div>

				<!-- Search input-->
				<div class="form-group">
					<label class="col-md-2 control-label" for="CEP">CEP <h11>*</h11></label>
					<div class="col-md-2">
						<input id="Cep" name="cliente.pessoa.endereco.Cep" value="@ViewBag.Cliente.Pessoa.Endereco.Cep" onfocusout="pesquisacep(Cep.value)" placeholder="Apenas números" class="form-control input-md" type="search" maxlength="8" pattern="[0-9]+$">
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-primary" onclick="pesquisacep(Cep.value)">Pesquisar</button>
					</div>
				</div>

				<!-- Endereço-->
				<div class="form-group">
					<label class="col-md-2 control-label" for="prependedtext">Endereço</label>
					<div class="col-md-4">
						<div class="input-group">
							<span class="input-group-addon">Rua</span>
							<input id="rua" name="cliente.pessoa.endereco.Rua" value="@ViewBag.Cliente.Pessoa.Endereco.Rua" class="form-control" placeholder="" type="text">
						</div>

					</div>
					<div class="col-md-2">
						<div class="input-group">
							<span class="input-group-addon">Nº <h11>*</h11></span>
							<input id="numero" name="cliente.pessoa.endereco.Numero" value="@ViewBag.Cliente.Pessoa.Endereco.Numero" class="form-control" placeholder="" type="text">
						</div>

					</div>

					<div class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon">Bairro</span>
							<input id="bairro" name="cliente.pessoa.endereco.Bairro" value="@ViewBag.Cliente.Pessoa.Endereco.Bairro" class="form-control" placeholder="" type="text">
						</div>

					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="prependedtext"></label>
					<div class="col-md-4">
						<div class="input-group">
							<span class="input-group-addon">Cidade</span>
							<input id="cidade" name="cliente.pessoa.endereco.Cidade" value="@ViewBag.Cliente.Pessoa.Endereco.Cidade" class="form-control" placeholder="" type="text">
						</div>

					</div>

					<div class="col-md-2">
						<div class="input-group">
							<span class="input-group-addon">Estado</span>
							<input id="estado" name="cliente.pessoa.endereco.Estado" value="@ViewBag.Cliente.Pessoa.Endereco.Estado" class="form-control" placeholder="" type="text">
						</div>

					</div>
					<div class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon">Complemento</span>
							<input id="complemento" name="cliente.pessoa.endereco.Complemento" value="@ViewBag.Cliente.Pessoa.Endereco.Complemento" class="form-control" placeholder="" type="text">
						</div>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-md-2 control-label">
						<h3>Dados do Veículo:</h3>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<label class="col-md-2 control-label" for="nomeproduto">Id do Veículo<h11></h11></label>
					<div class="col-md-3">
						<input id="idveiculo" readonly name="cliente.Id" value="@ViewBag.Cliente.Pessoa.Veiculo.Id" placeholder="Nome do produto" class="form-control input-md" type="hidden">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="Rg">Tipo de Veículo</label>
					<div class="col-md-2">
						<select id="listaTipoDeVeiculo" name="cliente.pessoa.veiculo.TipoDeVeiculo" value="@ViewBag.Cliente.Pessoa.Veiculo.TipoDeVeiculo" class="form-control input-md">
							<option></option>
						</select>
					</div>
					<label class="col-md-1 control-label" for="Nome">Fabricante</label>
					<div class="col-md-2">
						<select id="listaFabricantes" onclick="PegaFabricantes()" name="cliente.pessoa.veiculo.Fabricante" oncç value="@ViewBag.Cliente.Pessoa.Veiculo.Fabricante" class="form-control input-md">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="modelo">Modelo <h11>*</h11></label>
					<div class="col-md-5">
						<input id="modelo" name="cliente.pessoa.veiculo.Modelo" value="@ViewBag.Cliente.Pessoa.Veiculo.Modelo" placeholder="Modelo do veículo" class="form-control input-md" type="text">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-1 control-label" for="placa">Placa</label>
					<div class="col-md-2">
						<input id="placa" name="cliente.pessoa.veiculo.Placa" value="@ViewBag.Cliente.Pessoa.Veiculo.Placa" placeholder="ABC-1234" class="form-control input-md" type="text">
					</div>
					<label class="col-md-1 control-label" for="Rg">Ano</label>
					<div class="col-md-2">
						<input id="ano" name="cliente.pessoa.veiculo.Ano" value="@ViewBag.Cliente.Pessoa.Veiculo.Ano" class="form-control input-md" type="text">
					</div>
					<label class="col-md-1 control-label" for="Rg">Cor</label>
					<div class="col-md-2">
						<input id="cor" name="cliente.pessoa.veiculo.Cor" value="@ViewBag.Cliente.Pessoa.Veiculo.Cor" class="form-control input-md" type="text">
					</div>
				</div>

				<hr>
				<!-- Botão Cadastrar e Cancelar -->
				<div class="form-group">
					<label class="col-md-2 control-label" for="Cadastrar"></label>
					<div class="col-md-8">
						<button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Salvar</button>
						<button id="Cancelar" name="Cancelar" class="btn btn-danger" onclick="window.location.href = '/Cliente/Clientes'">Cancelar</button>
					</div>
					<fieldset id=""></fieldset>

				</div>
			</div>
			<fieldset id="panel-body"></fieldset>
		</div>
	</form>
</div>



@section body_scripts{
	<script src="~/Content/Validacao/Cliente.js"></script>
	<script src="~/Content/TemplateADMIN/assets/scripts/TemplateAdminScripts.js"></script>

}
