<div class="main-content">
    <div class="content-heading clearfix">
        <div class="heading-left">
            <h1 class="page-title">Formulário</h1>
            <p class="page-subtitle">Cadastrar novo fornecedor</p>
        </div>
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">Formulário</a></li>
            <li><a href="#">Cadastrar novo fornecedor</a></li>
        </ul>
    </div>

    <form action="/Fornecedor/AdicionaFornecedor" id="FormCadastro" method="post">
        <main class="form-horizontal">
            <div class="panel-body">
                <div class="form-group">

                    <div class="col-md-11 control-label">
                        <p class="help-block">
                            <h11>*</h11> Campo Obrigatório
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <h3>Dados do fornecedor:</h3>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idNome">Nome do vendedor <h11></h11></label>
                    <div class="col-md-3">
                        <input id="nome" name="pessoa.Nome" value="@ViewBag.Pessoa.Nome" placeholder="Opcional" class="form-control input-md" type="text">
                    </div>
                </div>

                <!-- Pessoa Jurídica-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idnomeEmpresa">Empresa <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="nomeEmpresa" name="pessoa.NomeFantasia" value="@ViewBag.Pessoa.NomeFantasia" placeholder="Nome da Empresa" class="form-control input-md" type="text" maxlength="50">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="idRazaoSocial">Razão Social <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="razaoSocial" name="pessoa.NomeRazaoSocial" value="@ViewBag.Pessoa.NomeRazaoSocial" placeholder="Razão Social" class="form-control input-md" type="search" maxlength="50" pattern="[A-Za-z0-9._%+-#]+$">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="idInscricaoEstadual">Inscrição Estadual <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="inscricaoEstadual" name="pessoa.InscricaoEstadual" value="@ViewBag.Pessoa.InscricaoEstadual" placeholder="Inscrição Estadual" class="form-control input-md" type="search" maxlength="50" pattern="[0-9]+$">
                    </div>
                </div>


                <!-- CPF/CNPJ-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idCpfeCnpj">CNPJ <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="CpfeCnpj" name="pessoa.CpfeCnpj" value="@ViewBag.Pessoa.CpfeCnpj" placeholder="Apenas números" class="form-control input-md" type="text" maxlength="20" pattern="[0-9]+$">
                    </div>

                </div>

                <!-- Prepended text-->
                <div class="form-group">

                    <label class="col-md-2 control-label" for="idTelefoneUm">Telefone 1 <h11>*</h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input id="telefoneUm" name="pessoa.TelefoneUm" value="@ViewBag.Pessoa.TelefoneUm" class="form-control" placeholder="XX XXXXX-XXXX" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)">
                        </div>
                    </div>

                    <label class="col-md-1 control-label" for="idTelefoneDois">Telefone 2 <h11></h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input id="telefoneDois" name="pessoa.TelefoneDois" value="@ViewBag.Pessoa.TelefoneDois" class="form-control" placeholder="XX XXXXX-XXXX" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)">
                        </div>
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idEmail">Email <h11>*</h11></label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="email" name="pessoa.Email" value="@ViewBag.Pessoa.Email" class="form-control" placeholder="email@email.com" type="email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idObservacoes">Observações <h11>    </h11></label>
                    <div class="col-md-4">
                        <input id="observacoes" name="pessoa.Observacoes" value="@ViewBag.Pessoa.Observacoes" placeholder="Opcional" class="form-control input-md" type="text">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <h3>Dados de endereço:</h3>
                    </div>
                </div>
                <!-- Prepended text -->
                <!-- CEP -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="CEP">CEP <h11>*</h11></label>
                    <div class="col-md-2">
                        <input id="Cep" name="pessoa.endereco.Cep" value="@ViewBag.Pessoa.Endereco.Cep" placeholder="Apenas números" class="form-control input-md" type="search" maxlength="9" pattern="[0-9]+$">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" onclick="pesquisacep(cep.value)">Pesquisar</button>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext">Endereço</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Rua</span>
                            <input id="Rua" name="pessoa.endereco.Rua" value="@ViewBag.Pessoa.Endereco.Rua" class="form-control" placeholder="" type="text">
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Nº <h11>*</h11></span>
                            <input id="Numero" name="pessoa.endereco.Numero" value="@ViewBag.Pessoa.Endereco.Numero" class="form-control" placeholder="" type="text">
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Bairro</span>
                            <input id="Bairro" name="pessoa.endereco.Bairro" value="@ViewBag.Pessoa.Endereco.Bairro" class="form-control" placeholder="" type="text">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext"></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Cidade</span>
                            <input id="cidade" name="pessoa.endereco.Cidade" value="@ViewBag.Pessoa.Endereco.Cidade" class="form-control" placeholder="" type="text">
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Estado</span>
                            <input id="estado" name="pessoa.endereco.Estado" value="@ViewBag.Pessoa.Endereco.Estado" class="form-control" placeholder="" type="text">
                        </div>

                    </div>
                </div>
                <hr>
                <!-- Dados para Login -->
                <!-- Botão Cadastrar e Cancelar -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
                        <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancelar</button>
                    </div>
                </div>

            </div>




        </main>

    </form>
</div>

@section body_scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#FormCadastro").validate({
                rules: {
                    "pessoa.Nome": {
                        required: false,
                        rangelength: [5, 50]
                    },
                    "pessoa.NomeFantasia":{
                        required: true,
                        rangelength: [5, 50]
                    },
                    "pessoa.NomeRazaoSocial":{
                        required: true,
                        rangelength: [5, 50]
                    },
                    "pessoa.InscricaoEstadual":{
                        required: true,
                        rangelength: [8, 10]
                    },
                    "pessoa.CpfeCnpj":{
                        required: true,
                        maxlength: 12
                    },
                    "pessoa.TelefoneUm":{
                        required: true,
                        rangelength: [9, 11]
                    },
                    "pessoa.TelefoneDois":{
                        required: false,
                        rangelength: [9, 11]
                    },
                    "pessoa.Email":{
                        required: true,
                        rangelength: [8, 50],
                        email: true
                    },
                    "pessoa.Observacoes":{
                        required: false,
                        maxlength: 200
                    },
                    "pessoa.endereco.Cep":{
                        required: true,
                        maxlength: 8
                    },
                    "pessoa.endereco.Rua":{
                        required: true,
                        maxlength: 100
                    },
                    "pessoa.endereco.Numero":{
                        required: true,
                        maxlength: 7
                    },
                    "pessoa.endereco.Bairro": {
                        required: true,
                        maxlength: 50
                    },
                    "pessoa.endereco.Cidade": {
                        required: true,
                        maxlength: 50
                    },
                    "pessoa.endereco.Estado":{
                        required: true,
                        maxlength: 50
                    },
                    "pessoa.endereco.Complemento": {
                    required: false,
                    maxlength: 50
                    }
                },
                messages: {
                    "pessoa.Nome": {
                        required: "Campo obrigatório!",
                        rangelength: "Deve incluir de 5 a 50 caracteres!"
                    },
                    "pessoa.NomeFantasia":{
                        required: "Campo obrigatório!",
                        rangelength: "Deve incluir de 5 a 50 caracteres!"
                    },
                    "pessoa.NomeRazaoSocial":{
                        required: "Campo obrigatório!",
                        rangelength: "Deve incluir de 5 a 50 caracteres!"
                    },
                    "pessoa.InscricaoEstadual":{
                        required: "Campo obrigatório!",
                        rangelength: "Deve incluir de 8 a 10 caracteres!"
                    },
                    "pessoa.CpfeCnpj":{
                        required: "Campo obrigatório!",
                        maxlength: "Deve ter no máximo 12 caracteres"
                    },
                    "pessoa.TelefoneUm":{
                        required: "Campo obrigatório!",
                        rangelength: "Deve incluir de 9 a 11 caracteres!"
                    },
                    "pessoa.TelefoneDois":{
                        rangelength: "Deve incluir de 9 a 11 caracteres!"
                    },
                    "pessoa.Email":{
                        required: "Campo obrigatório!",
                        rangelength: "Deve incluir de 8 a 50 caracteres!"

                    },
                    "pessoa.Observacoes":{
                        maxlength: "Deve ter no máximo 200 caracteres"
                    },
                    "pessoa.endereco.Cep":{
                        required: "Campo obrigatório!",
                        maxlength: "Deve ter no máximo 8 caracteres"
                    },
                    "pessoa.endereco.Rua":{
                        required: "Campo obrigatório!",
                        maxlength: "Deve ter no máximo 100 caracteres"
                    },
                    "pessoa.endereco.Numero":{
                        required: "Campo obrigatório!",
                        maxlength: "Deve ter no máximo 7 caracteres"
                    },
                    "pessoa.endereco.Bairro": {
                        required: "Campo obrigatório!",
                        maxlength: "Deve ter no máximo 50 caracteres"
                    },
                    "pessoa.endereco.Cidade": {
                        required: "Campo obrigatório!",
                        maxlength: "Deve ter no máximo 50 caracteres"
                    },
                    "pessoa.endereco.Estado":{
                        required: "Campo obrigatório!",
                        maxlength: "Deve ter no máximo 50 caracteres"
                    },
                    "pessoa.endereco.Complemento": {
                        maxlength: "Deve ter no máximo 50 caracteres"
                    }
                }
            });
        });


        function limpa_formulario_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('rua').value = ("");
            document.getElementById('bairro').value = ("");
            document.getElementById('cidade').value = ("");
            document.getElementById('estado').value = ("");

        }

        function meu_callback(conteudo) {
            if (!("erro" in conteudo)) {
                //Atualiza os campos com os valores.
                document.getElementById('rua').value = (conteudo.logradouro);
                document.getElementById('bairro').value = (conteudo.bairro);
                document.getElementById('cidade').value = (conteudo.localidade);
                document.getElementById('estado').value = (conteudo.uf);
            } //end if.
            else {
                //CEP não Encontrado.
                limpa_formulario_cep();
                alert("CEP não encontrado.");
                document.getElementById('cep').value = ("");
            }
        }

        function pesquisacep(valor) {

            //Nova variável "cep" somente com dígitos.
            var cep = valor.replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep !== "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    document.getElementById('rua').value = "...";
                    document.getElementById('bairro').value = "...";
                    document.getElementById('cidade').value = "...";
                    document.getElementById('estado').value = "...";

                    //Cria um elemento javascript.
                    var script = document.createElement('script');

                    //Sincroniza com o callback.
                    script.src = '//viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                    //Insere script no documento e carrega o conteúdo.
                    document.body.appendChild(script);

                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulario_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulario_cep();
            }
        }

        function formatar(mascara, documento) {
            var i = documento.value.length;
            var saida = mascara.substring(0, 1);
            var texto = mascara.substring(i);

            if (texto.substring(0, 1) != saida) {
                documento.value += texto.substring(0, 1);
            }

        }

        function idade() {
            var data = document.getElementById("dtnasc").value;
            var dia = data.substr(0, 2);
            var mes = data.substr(3, 2);
            var ano = data.substr(6, 4);
            var d = new Date();
            var ano_atual = d.getFullYear(),
                mes_atual = d.getMonth() + 1,
                dia_atual = d.getDate();

            ano = +ano,
                mes = +mes,
                dia = +dia;

            var idade = ano_atual - ano;

            if (mes_atual < mes || mes_atual == mes_aniversario && dia_atual < dia) {
                idade--;
            }
            return idade;
        }


        function exibe(i) {



            document.getElementById(i).readOnly = true;




        }

        function desabilita(i) {

            document.getElementById(i).disabled = true;
        }

        function habilita(i) {
            document.getElementById(i).disabled = false;
        }


        //function showhide() {
        //    var div = document.getElementById("newpost");

        //    if (idade() >= 18) {

        //        div.style.display = "none";
        //    } else if (idade() < 18) {
        //        d
    </script>
}
