<div class="main-content">
    <div class="content-heading clearfix">
        <div class="heading-left">
            <h1 class="page-title">Formulário</h1>
            <p class="page-subtitle">Editar fornecedor</p>
        </div>
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">Formulário</a></li>
            <li><a href="#">Editar fornecedor</a></li>
        </ul>
    </div>

    <form action="/Fornecedor/EditaFornecedor" id="FormCadastro" method="post">
        <main class="form-horizontal">
            <div class="panel-body">
                <div class="form-group">

                    <div class="col-md-11 control-label">
                        <p class="help-block">
                            <h11>*</h11> Campo Obrigatório
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <h3>Dados do fornecedor:</h3>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="nomeproduto">Id do Fornecedor<h11></h11></label>
                    <div class="col-md-3">
                        <input id="nomeproduto" readonly name="fornecedor.Id" value="@ViewBag.Fornecedor.Id" class="form-control input-md" type="text">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idNome">Nome do vendedor <h11></h11></label>
                    <div class="col-md-3">
                        <input id="nome" name="fornecedor.Nome" value="@ViewBag.Fornecedor.Nome" placeholder="Opcional" class="form-control input-md" type="text">
                    </div>
                </div>

                <!-- Pessoa Jurídica-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idnomeEmpresa">Empresa <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="nomeEmpresa" name="fornecedor.NomeFantasia" value="@ViewBag.Fornecedor.NomeFantasia" placeholder="Nome da Empresa" class="form-control input-md" type="text" maxlength="50">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="idRazaoSocial">Razão Social <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="razaoSocial" name="fornecedor.NomeRazaoSocial" value="@ViewBag.Fornecedor.NomeRazaoSocial" placeholder="Razão Social" class="form-control input-md" type="search" maxlength="50" pattern="[A-Za-z0-9._%+-#]+$">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="idInscricaoEstadual">Inscrição Estadual <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="inscricaoEstadual" name="fornecedor.InscricaoEstadual" value="@ViewBag.Fornecedor.InscricaoEstadual" placeholder="Inscrição Estadual" class="form-control input-md" type="search" maxlength="50" pattern="[0-9]+$">
                    </div>
                </div>


                <!-- CPF/CNPJ-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idCpfeCnpj">CNPJ <h11>*</h11></label>
                    <div class="col-md-3">
                        <input id="CpfeCnpj" name="fornecedor.CpfeCnpj" value="@ViewBag.Fornecedor.CpfeCnpj" placeholder="Digite o CNPJ" onkeyup="confereCNPJ(this)" onblur="clearTimeout()" class="form-control input-md" type="text" maxlength="18">
                        <span id="cnpjFrase"></span>
                    </div>

                </div>

                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idTelefoneUm">Telefone 1 <h11>*</h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input id="telefoneUm" name="fornecedor.TelefoneUm" value="@ViewBag.Fornecedor.TelefoneUm" class="form-control" type="text" maxlength="14" pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}+$">
                        </div>
                    </div>
                    <label class="col-md-1 control-label" for="idTelefoneDois">Telefone 2 <h11></h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input id="telefoneDois" name="fornecedor.TelefoneDois" value="@ViewBag.Fornecedor.TelefoneDois" class="form-control" type="text" maxlength="14" pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}+$">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idEmail">Email <h11>*</h11></label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="email" name="fornecedor.Email" value="@ViewBag.Fornecedor.Email" class="form-control" placeholder="email@email.com" type="email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="idObservacoes">Observações</label>
                    <div class="col-md-5">
                        <textarea id="observacoes" name="fornecedor.Observacoes" class="form-control input-md" type="text">@ViewBag.Fornecedor.Observacoes</textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <h3>Dados de endereço:</h3>
                    </div>
                </div>
                <!-- Prepended text -->
                <!-- CEP -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="CEP">CEP <h11>*</h11></label>
                    <div class="col-md-2">
                        <input id="Cep" name="fornecedor.endereco.Cep" value="@ViewBag.Fornecedor.Endereco.Cep" onfocusout="pesquisacep(Cep.value)" placeholder="Apenas números" class="form-control input-md" type="search" maxlength="9" pattern="[0-9]{5}[0-9]{3}+$">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" onclick="pesquisacep(Cep.value)">Pesquisar</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext">Endereço</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Rua</span>
                            <input id="rua" name="fornecedor.endereco.Rua" value="@ViewBag.Fornecedor.Endereco.Rua" class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Nº <h11>*</h11></span>
                            <input id="numero" name="fornecedor.endereco.Numero" value="@ViewBag.Fornecedor.Endereco.Numero" class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Bairro</span>
                            <input id="bairro" name="fornecedor.endereco.Bairro" value="@ViewBag.Fornecedor.Endereco.Bairro" class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext"></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Cidade</span>
                            <input id="cidade" name="fornecedor.endereco.Cidade" value="@ViewBag.Fornecedor.Endereco.Cidade" class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Estado</span>
                            <input id="estado" name="fornecedor.endereco.Estado" value="@ViewBag.Fornecedor.Endereco.Estado" class="form-control" placeholder="" type="text">
                        </div>


                    </div>
                </div>
                <hr>
                <!-- Dados para Login -->
                <!-- Botão Cadastrar e Cancelar -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button id="Cadastrar" autofocus name="Cadastrar" class="btn btn-success" type="Submit">Salvar</button>
                        <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancelar</button>
                    </div>
                </div>
            </div>
        </main>
    </form>
</div>

@section body_scripts{

    <script src="~/Content/Validacao/Fornecedor.js"></script>
    <script src="~/Content/TemplateADMIN/assets/scripts/TemplateAdminScripts.js"></script>
}
